[submodule "src/auto_nav"]
	path = src/auto_nav
	url = https://github.com/mhseals/mhseals_sim.git
[submodule "src/mhsboat_ctrl"]
	path = src/mhsboat_ctrl
	url = https://github.com/mhseals/mhsboat_ctrl.git
[submodule "ros_tcp_endpoint"]
	path = ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
	branch = main-ros2
