[submodule "src/auto_nav"]
	path = src/auto_nav
	url = https://github.com/mhseals/mhseals_sim.git
	branch = main
[submodule "src/mhsboat_ctrl"]
	path = src/mhsboat_ctrl
	url = https://github.com/mhseals/mhsboat_ctrl.git
	branch = main
[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = https://github.com/MHSeals/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "src/boat_interfaces"]
	path = src/boat_interfaces
	url = https://github.com/mhseals/boat_interfaces
	branch = master
[submodule "src/asv_wave_sim"]
	path = src/asv_wave_sim
	url = https://github.com/MHSeals/asv_wave_sim
