services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        USERNAME: ${USER:-roboboat}
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    container_name: roboboat_dev
    privileged: true
    network_mode: "host"
    ipc: "host"
    pid: "host"
    environment:
      ROS_LOCALHOST_ONLY: "1"
      ROS_DOMAIN_ID: "42"
      ROS_WS: "/home/${USER}/roboboat_ws"
      DISPLAY: ${DISPLAY}
    volumes:
      - ${PWD}:/home/${USER}/roboboat_ws
      - /tmp/.X11-unix:/tmp/.X11-unix:cached
      - /dev/dri:/dev/dri:cached
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /home/${USER}/roboboat_ws
  sitl: # Optional component, still working out how to centralize in configuration
    build:
      context: .
      dockerfile: Dockerfile.sitl
    container_name: ardupilot_sitl
    network_mode: "host"
    environment:
      VEHICLE: "Rover"
      DISPLAY: ${DISPLAY}
      SITL_EXTRA_ARGS: "--console --map --add-param-file=/param/boat.param --model JSON:127.0.0.1 --out tcp:0.0.0.0:5762 "
    volumes:
      - ./boat.param:/param/boat.param:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:cached
      - /dev/dri:/dev/dri:cached
    restart: unless-stopped