services:
  dev:
    image: lunarzdev/mhseals-dev:jetson
    environment:
      DISPLAY: ""
      NVIDIA_VISIBLE_DEVICES: ""
      NVIDIA_DRIVER_CAPABILITIES: ""
    volumes: []
    deploy: {}
    runtime: nvidia
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    environment:
      DISPLAY: ""
    volumes:
      - ./boat.param:/param/boat.param:ro