services:
  dev:
    image: lunarzdev/mhseals-dev:jetson
    build:
      args:
        TARGET_PLATFORM: jetson
    runtime: nvidia
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
      CUDA_TOOLKIT_ROOT_DIR: /usr/local/cuda
      LD_LIBRARY_PATH: /usr/local/cuda/lib64:$LD_LIBRARY_PATH
    volumes:
      - /usr/local/cuda:/usr/local/cuda:ro
      - /usr/lib/aarch64-linux-gnu:/usr/lib/aarch64-linux-gnu:ro
      - /usr/include:/usr/include:ro
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    volumes:
      - ./boat.param:/param/boat.param:ro