services:
  dev:
    image: lunarzdev/mhseals-dev:jetson
    build:
      args:
        TARGET_PLATFORM: jetson
        BASE_IMAGE: dustynv/ros:humble-desktop-l4t-r36.4.0
    runtime: nvidia
    volumes:
      - zed_resources:/usr/local/zed/resources 
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    volumes:
      - ./boat.param:/param/boat.param:ro
volumes:
  zed_resources: