services:
  dev:
    build:
      args:
        TARGET_PLATFORM: jetson
    image: lunarzdev/mhseals-dev:jetson
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    volumes:
      - ./boat.param:/param/boat.param:ro