services:
  dev:
    image: lunarzdev/mhseals-dev:jetson
    environment:
      DISPLAY: ""
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
    volumes: []
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    environment:
      DISPLAY: ""
    volumes:
      - ./boat.param:/param/boat.param:ro