services:
  dev:
    image: lunarzdev/mhseals-dev:jetson
    build:
      args:
        TARGET_PLATFORM: jetson
        BASE_IMAGE: dustynv/ros:humble-desktop-l4t-r36.4.0
        PIP_EXTRA_INDEX_URL: http://jetson.webredirect.org/jp6/cu126
    runtime: nvidia
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
  sitl:
    image: lunarzdev/mhseals-dev:jetson
    volumes:
      - ./boat.param:/param/boat.param:ro